{% extends "country/_base.html" %}
{% load static %}
{% block title%} Form prepared query {% endblock %}


{% block content %}
<div class=" container shadow-textarea py-3 px-3 my-3 pl-4 z-depth-1">
<form action="{% url "country:receive-form-prepared-query" %}" method="get"> <!--## a quel url on envoi-->
  <p>Choisissez votre requête à exécuter</p>
  <div class="custom-control custom-radio"> <!--## envoie-->
    <input class="custom-control-input" type="radio" id="query1" name="query" value="SELECT distinct p.iso, p.nom FROM pays p JOIN stats_journalieres sj ON p.iso=sj.iso_pays JOIN hospitalisations_stats hs ON hs.id=sj.id WHERE hs.hosp_patiens >= 5000">
    <label class="custom-control-label" for="query1">Pays ayant au moins 5000 personnes hospitalisées au même moment</label><br>
  </div>

  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" id="query2" name="query" value="WITH sum_vacc_for_each_pays(iso,nom, somme ) AS (	SELECT distinct p.iso, p.nom ,SUM(vs.vaccinations)	FROM pays p JOIN stats_journalieres sj ON p.iso = sj.iso_pays JOIN vaccinnations_stats vs ON vs.id=sj.id 	GROUP BY p.nom, p.iso ) select iso,nom, somme from sum_vacc_for_each_pays maxi WHERE somme is not null ORDER BY somme DESC limit 1">
    <label class="custom-control-label" for="query2">Pays ayant administré le plus grand nombre total de vaccins</label><br>
   </div>
  <div class="custom-control custom-radio">
   <input class="custom-control-input" type="radio" id="query3" name="query" value="SELECT distinct cv.nom_vaccin, p.iso, p.nom FROM pays p JOIN campagne_vaccin cv ON p.iso=cv.iso_pays GROUP BY cv.nom_vaccin, p.iso, p.nom order by cv.nom_vaccin --should use p.iso cause some countries without name">
   <label class="custom-control-label" for="query3">Quels vaccins pour quels pays</label><br>
   </div>
  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" id="query4" name="query" value="SELECT p.iso, p.nom, (( hs.hosp_patiens::float/ p.population )*100)::numeric(36,2) as pourcentage FROM hospitalisations_stats hs JOIN stats_journalieres sj ON sj.id = hs.id JOIN pays p ON p.iso= sj.iso_pays WHERE sj.date = '01/01/2021' Group by p.iso, p.population, hs.hosp_patiens, p.nom">
   <label class="custom-control-label" for="query4">Proportion de nombre de personnes hospitalisées sur la population le 1/1/2021</label><br>
   </div>
  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" id="query5" name="query" value="SELECT p.iso, p.nom, sj.date, hs.hosp_patiens - LAG(hs.hosp_patiens)OVER (PARTITION BY p.iso ORDER BY sj.date) evolution FROM hospitalisations_stats hs JOIN stats_journalieres sj on sj.id = hs.id join pays p on p.iso = sj.iso_pays Group by p.iso, p.nom, sj.date,  hs.hosp_patiens order by p.iso, sj.date">
   <label class="custom-control-label" for="query5">Evolution pour chaque jour et chaque pays de patients hospitalisés</label><br>
   </div>
  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" id="query6" name="query" value="SELECT cv.nom_vaccin FROM campagne_vaccin cv WHERE iso_pays = 'BEL' INTERSECT SELECT cv.nom_vaccin FROM campagne_vaccin cv WHERE iso_pays = 'FRA'">
   <label class="custom-control-label" for="query6">Vaccins à la fois dispo en belgique et en france</label><br>
    </div> 
  

    <input class="btn btn-primary my-4 btn-block"  type="submit" value="Submit"> <!--## envoie l'url à l'endroit spécifié -->
</form>
</div>
{% endblock content %}
