{% extends "country/_base.html" %}
{% load static %}
{% block title%} Form prepared query {% endblock %}


{% block content %}
<div class=" container shadow-textarea py-3 px-3 my-3 pl-4 z-depth-1">
<form action="{% url "country:receive-form-prepared-query" %}" method="get">
  <p>Choisissez votre requête à exécuter</p>
  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" id="query1" name="query" value="SELECT distinct p.iso, p.nom FROM pays p join stats_journalieres sj ON p.iso = sj.iso_pays JOIN hospitalisations_stats hs on hs.id=sj.id WHERE hs.hosp_patiens>=5000;">
    <label class="custom-control-label" for="query1">Pays ayant au moins 5000 personnes hospitalisées au même moment</label><br>
  </div>

  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" id="query2" name="query" value="SELECT p.nom FROM pays p JOIN stats_journalieres sj ON p.iso = sj.iso_pays JOIN vaccinnations_stats vs on vs.id = sj.id GROUP BY p.nom HAVING MAX(sum(sj.vaccinations));">
    <label class="custom-control-label" for="query2">Pays ayant administré le plus grand nombre total de vaccins</label><br>
   </div>
  <div class="custom-control custom-radio">
   <input class="custom-control-input" type="radio" id="query3" name="query" value="SELECT distinct cv.nom_vaccin, p.iso, p.nom  FROM pays p JOIN campagne_vaccin cv on p.iso=cv.iso_pays GROUP BY cv.nom_vaccin, p.iso, p.nom;">
   <label class="custom-control-label" for="query3">Quels vaccins pour quels pays</label><br>
   </div>
  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" id="query4" name="query" value="SELECT p.iso , hs.hosp_patiens, p.population, (sum(hs.hosp_patiens)/p.population)*100 as pourcentage FROM pays p JOIN stats_journalieres sj ON p.iso = sj.iso_pays NATURAL JOIN  hospitalisations_stats hs  WHERE sj.date=$$01/01/2021$$  GROUP by p.iso, p.population, hs.hosp_patiens">
   <label class="custom-control-label" for="query4">Proportion de nombre de personnes hospitalisées sur la population le 1/1/2021</label><br>
   </div>
  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" id="query4" name="query" value="SELECT distinct cv.nom_vaccin, p.iso, p.nom  FROM pays p JOIN campagne_vaccin cv on p.iso=cv.iso_pays GROUP BY cv.nom_vaccin, p.iso, p.nom;">
   <label class="custom-control-label" for="query4">Quels vaccins pour quels pays</label><br>
   </div>
  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" id="query5" name="query" value="SELECT distinct cv.nom_vaccin, p.iso, p.nom  FROM pays p JOIN campagne_vaccin cv on p.iso=cv.iso_pays GROUP BY cv.nom_vaccin, p.iso, p.nom;">
   <label class="custom-control-label" for="query5">Quels vaccins pour quels pays</label><br>
    </div> 
   <div class="custom-control custom-radio"> 
    <input class="custom-control-input" type="radio" id="query6" name="query" value="SELECT distinct cv.nom_vaccin, p.iso, p.nom  FROM pays p JOIN campagne_vaccin cv on p.iso=cv.iso_pays GROUP BY cv.nom_vaccin, p.iso, p.nom;">
   <label class="custom-control-label" for="query6">Quels vaccins pour quels pays</label><br>
   </div>

    <input class="btn btn-primary my-4 btn-block"  type="submit" value="Submit">
</form>
</div>
{% endblock content %}
