{% extends "_base.html" %}

{%load static%}
{% block content %}
<style>
.rounded-circle{

border-radius:50%;
width:10em;
height:10em;
}
</style>
<div class="row ">
  <div class="mx-auto my-4" style="width:40%">
        <div class="text-center px-4 container shadow-textarea py-3 px-4 my-3 z-depth-1">
             <img class="rounded-circle" alt="100x100" src="https://static.wikia.nocookie.net/villains-fr/images/b/ba/Eoh_DIO.png/revision/latest/top-crop/width/360/height/450?cb=20200526105623&path-prefix=fr"
          data-holder-rendered="true"> 
            
            <h2 class="bg-primary text-white shadow-textarea z-depth-1 mx-5">{{user.pseudo}} {%if user.is_epidemiologist%} <i class="fas fa-certificate" style="color:#00B74A"></i> {%endif%} </h2> 
            <p>{% if user.nom %}{{user.nom}} {% else %} Nom inconnu {%endif%} {% if user.prenom %}{{user.prenom}} {% else %} Prénom inconnu {%endif%}</p>
            <div class="text-left mx-auto " style="width:35%">
               {% if user.rue_adresse %} <p><i class="fas fa-city"></i>  {{ user.rue_adresse}} {{ user.numero_adresse}} {{user.ville_adresse}} {{user.code_postal_adresse}}</p> {%endif%}
               {% if user.centre %} <p><i class="far fa-hospital"></i> {{user.centre}}</p> {%endif%}
               {% if user.telephone_service %} <p><i class="fas fa-phone"></i> {{user.telephone_service}}</p> {%endif%}
            </div>
        </div>
    </div>
</div>
{%endblock %}